body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fafbfe;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .75rem;
    font-weight: 500;
    line-height: 1.1
}

.h1, h1 {
    font-size: calc(1.35rem + 1.2vw)
}

@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 2.25rem
    }
}

.h2, h2 {
    font-size: calc(1.3125rem + .75vw)
}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 1.875rem
    }
}

.h3, h3 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width: 1200px) {
    .h3, h3 {
        font-size: 1.5rem
    }
}

.h4, h4 {
    font-size: 1.125rem
}

.h5, h5 {
    font-size: .9375rem
}

.h6, h6 {
    font-size: .75rem
}

code {
    font-size: 87.5%;
    color: #39afd1;
    word-wrap: break-word;
}

.pricing-list {
    color: var(--b-theme-secondary);
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
}

.pricing-list li {
    padding: 15px;
}

.disabled {
    cursor: not-allowed;
}

.b-bar-vertical-inline:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item {
    padding: 0.3rem 0.5rem 0.3rem 3rem !important;
}

.b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu, .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-menu, .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu{
    padding: 0 !important;
}


td:not(.text-left) {
    height: 31px;
    /*line-height: 31px;*/
}
/*
.cruder-grid-base {
    border-top: 2px solid #dee2e6 !important;
    margin-bottom: 0px;
}

.cruder-grid-base input{
    height: 32px;
}

.cruder-grid-base thead tr {
    height: 45px;
}

.cruder-grid-base tbody td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.cruder-grid-base th {
    padding-top: 2px;
    padding-bottom: 2px;
}

.row .justify-content-between {
    height: 37px;
}

.table-responsive {
    border: 1px solid #dee2e6;
}

.list-page {
    table-layout: fixed;
}

.cruder-grid-base thead tr:nth-of-type(2) {
    display: none;
}

.cruder-grid-base th {
    line-height: 38px;
}

.cruder-grid-base .dropdown-toggle {
    padding-right: 0px;
    padding-top: 7px;
    padding-left: 5px;
}

.cruder-grid-modal .modal-dialog {
    margin-left: initial;
}
*/
.navbar {
    padding: 0px !important;
}

.card-header {
    padding: 10px !important;
}

.card-body {
    padding: 9px !important;
}

.SfCruderGrid .e-rowcell:not(.SfCruderGrid-icon-flat) {
    /*border-left: 1px solid #e0e0e0 !important;*/
    border-right: 1px solid #e0e0e0 !important;
    padding: 0px 10px;
}

.SfCruderGrid .SfCruderGrid-icon-flat {
    padding: 5px !important;
    margin: 0px !important;
}

.SfCruderGrid .SfCruderGrid-CommandHeader .e-tbar-btn-text {
    color: rgba(0,0,0,.87) !important;
    font-weight: 400 !important;
}

.e-toolbar .e-toolbar-item.e-overlay {
    opacity: 1 !important;
}

/*
.list-page-filter-menu .dropdown-menu {
    left: 0px !important;
    top: 38px !important;
}

.list-page-filter-menu .dropdown-menu a {
    padding: 10px;
}*/