@using static CruderSimple.Blazor.Components.BreadcrumbList
<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Div Class="page-title-wrapper">
            <Div Float="Float.End">
                @if (MyBreadcrumb != null)
                {
                    <BreadcrumbList Items="@MyBreadcrumb.ToArray()" />
                }
                else if ( ChildContent != null )
                {
                    @ChildContent
                }
            </Div>
            <Heading Size="HeadingSize.Is4" Class="page-title" Margin="Margin.Is0">
                @Title
            </Heading>
        </Div>
    </Column>
</Row>
@code{
    [Parameter] public string Title { get; set; }

    [Parameter] public Breadcrum[] BreadcrumbItems { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    public List<Breadcrum> MyBreadcrumb { get
        {
            var list = new List<Breadcrum>();
            list.AddRange(BreadcrumbItems.ToList());
            list.Add(new Breadcrum(NavigationManager.ToBaseRelativePath(NavigationManager.Uri), Title));
            return list.ToList();
        }
    }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
}