<Row Flex="Flex.JustifyContent.Center">
    <Column ColumnSize="ColumnSize.Is4.OnWidescreen" Padding="Padding.Is4.FromBottom">
        <Div TextAlignment="TextAlignment.Center">
            <Image Source="_content/CruderSimple.Blazor/img/illustrations/map-location.png" Text="File not found Image" Style="height: 90px;" />

            <DisplayHeading Size="DisplayHeadingSize.Is1" TextColor="TextColor.Primary" Margin="Margin.Is4.FromTop">
                404
            </DisplayHeading>
            <Heading Size="HeadingSize.Is4" TextColor="TextColor.Danger" Margin="Margin.Is3.FromTop">
                Page Not Found
            </Heading>
            <Paragraph TextColor="TextColor.Muted" Margin="Margin.Is3.FromTop">
                It's looking like you may have taken a wrong turn. Don't worry... it
                happens to the best of us. Here's a
                little tip that might help you get back on track.
            </Paragraph>

            <Button Type="ButtonType.Link" To="" Margin="Margin.Is3.FromTop" Color="Color.Info">
                <Icon Name="IconName.Reply" />
                Return Home
            </Button>
        </Div>
    </Column>
</Row>